name: Header Syntax Check

on:
  push: 
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check-header-syntax:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Check Header Syntax
      run: |
        echo "Check started."
        counter=0
        cc=$(make -s print-cc)
        cflags=$(make -s print-cflags)
        red="\033[1;31m"
        green="\033[32m"
        nc="\033[0m"
        while read header; do
          if ! "$cc" $cflags -fsyntax-only "$header"; then
            echo -e "${red}$header does not pass the check.$nc" >&2
            ((counter++))
          else
            echo -e "${green}$header passes the check.$nc"
          fi
        done < <(find src -name "*.h" -o -name "*.hpp" -o -name "*.hxx")
        if [ $counter -eq 0 ]; then
          echo -e "${green}All files have passed the check.$nc"
        else
          if [ $counter -eq 1 ]; then
            echo -e "${red}1 file has not passed the check.$nc" >&2
          else
            echo -e "${red}$counter files have not passed the check.$nc" >&2
          fi
        fi
