name: Header Syntax Check

on:
  push: 
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check-header-syntax:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Check Header Syntax
      run: |
        find src -name "*.h" -o -name "*.hpp" -o -name "*.hxx" |
        while read header; do
          echo "checking $header"
          if ! gcc -fsyntax-only "$header"; then
            echo "$header does not pass the check.  Stop."
            exit 1
          fi
        done